@use "../variables" as v;
.live-stories {
  padding: 75px 93px;
  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.5px;
    color: v.$primary-black;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: v.$grey-dark;
  }
  .cards-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 77px;

    .card {
      height: 350px;
      width: 193px;

      img {
        height: 193px;
        width: 193px;
        border-radius: 13px;
        transition: transform 0.5s;
        margin-bottom: 10px;
      }

      h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #ff0000;
      }

      h6 {
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        color: #868686;
        margin-bottom: 5px;
      }

      p {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #c5c5c5;
        margin-bottom: 5px;
      }

      button {
        display: flex;
        border: 1px solid #ff0000;
        background-color: #ffffff;
        align-items: center;
        gap: 5px;
        padding: 5px 5px;
        width: 151px;
        height: 38px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 13px;
        color: #ff0000;
        transition: all 0.5s;
      }

      &:hover {
        button {
          background-color: #ff0000;
          color: #ffffff;
        }

        img {
          transform: scale(1.1);
          border-radius: 13px;
          box-shadow: (7px 6px 25px rgba(0, 0, 0, 0.39));
        }
      }
    }
  }
}
