$primary-black: #4a4a4a;
$primary-red: #ff0000;
$grey-light: #c5c5c5;
$grey-dark: #868686;
$input-shadow: 9px 11px 72px 0px #d1d1d1;
$hero-gradient: linear-gradient(
  360deg,
  #030303 -6.45%,
  rgba(3, 3, 3, 0) 49.92%
);
